{% extends 'index.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/board/boardDetail.css' %}">
    <div class="container__board">

        <div class="content__wrapper">

            <div class="content">

                <div class="content__header">
                    <div class="content__header info">
                        <div class="content__header info--title">{{essay.subject}}</div>
                        <div class="content__header info__userInfo">
                            <div class="content__header info__userInfo--name">{{ essay.author.userID }}</div>
                            <a class="content__header info__userInfo--name" 
                            href="{% url 'boards:like_essay' essay.id %} ">{{ essay.like_users.count }}</div>
                            <div class="content__header info__userInfo--cartegory">{{ essay.category }} |</div>
                            <div class="content__header info__userInfo--time"> {{ essay.create_date }}</div>
                        </div>
                    </div>
                </div>

                <div class="content__main">
                    {{ essay.content }}
                </div>

                <div class="content__footer">
                    <div class="content__footer comment__wrapper">
                        <div class="content__footer comment">

                            <div class="comment--title">COMMENT</div>
                            <hr class="content__footer divLine">

                            <div class="comment__list__wrapper">
                                <ul class="comment__list">
                                    {% for answer in essay.answer_set.all %}
                                        <li class="comment__list__itm">
                                            <div class="comment__list__itm comment__userInfo">
                                                <div class="comment__userInfo--name">{{ answer.author.username }}</div>
                                                <div class="comment__userInfo--time">{{ answer.create_date }}</div>
                                                <div class="comment__action">
                                                    <a class="comment__action like" href="">LIKE</a>
                                                    <a class="comment__action edit" href="{% url 'boards:answer_modify' answer.id %}">EDIT</a>
                                                    <a class="comment__action delete" href="{% url 'boards:answer_delete' answer.id %}">DELETE</a>
                                                </div>
                                            </div>
                                            <div class="comment__list__itm comment--text">{{ answer.content }}</div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <hr class="content__footer divLine">

                            <div class="comment__write__wrapper">
                                <form class="comment__write" method="POST" action="{% url 'boards:answer_create' essay.id %}">
                                    {% csrf_token %}
                                    <input class="comment__write--text" name="content" type="text">
                                    <input class="comment__write--send" type="submit" value="SUBMIT">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
{% endblock %}