*{
    outline: none; 
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: .3s;
}

body, ul, li, a, hr, button, input, textarea{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container{
    margin: 0px 50px;
}

.header{
    min-height: 32px;
    padding: 15px 50px;
    box-shadow: 1px 3px 10px rgba(71, 71, 71, 0.322);
}

/* SIGN FORM */
.signForm__wrapper{
    display: inline-block;
}

.signForm > .input{
    vertical-align: top;
    width: 150px;
    height: 30px;
    border-radius: 0;
    border: 1px solid rgb(71, 71, 71);
    font-size: 16px;
    font-weight: bold;
    padding: 0px 5px;
}

.signForm--submit.input{
    height: 32px;
    width: 100px;
    border: none;
    background-color: rgb(71, 71, 71);
    color: #fff;
}

.signForm--submit.input.type__register{
    display: inline-block;
    text-align: center;
    line-height: 32px;
}

.signForm--submit.input.type__logout{
    display: inline-block;
    text-align: center;
    line-height: 32px;
}

/* NAV */
.header__nav{
    display: inline-block;
    float: right;
}

.nav--itm{
    line-height: 32px;
    margin: 0px 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(71, 71, 71);
}

@media screen and (min-width: 280px){
    .container{
        margin: 0px 5px;
    }

    .header {
        height: auto;
        padding: 15px 15px;
    }

    .signForm > .input {
        width: 100%;
        padding: 0;
        margin: 5px 0px;
    }
    
    .signForm--submit.input {
        width: 100%;
    }

    .header__nav{
        width: fit-content;
        display: block;
        float: none;
        margin: auto;
    }
    .nav--itm{
        margin: 0px 5px;
    }
}

@media screen and (min-width: 500px){
    .signForm__wrapper{
        width: 65%;
    }
    .header {
        height: auto;
        padding: 15px 15px;
    }

    .signForm > .input {
        width: 23%;
        padding: 0 5px;
        margin: 5px 0px;
    }
    
    .signForm--submit.input {
        width: 20%;
        font-size: 13px;
    }

    .header__nav{
        width: 30%;
        display: inline-block;
        float: right;
    }
    .nav--itm{
        font-size: 15px;
        margin: 0px 0px;
        line-height: 43px;
    }
}

@media screen and (min-width: 1000px){
    .container{
        margin: 0px 50px;
    }

    .signForm__wrapper{
        width: 65%;
    }
    .header {
        height: auto;
        padding: 15px 15px;
    }

    .signForm > .input {
        width: 23%;
        padding: 0 5px;
        margin: 5px 0px;
    }
    
    .signForm--submit.input {
        width: 20%;
        font-size: 15px;
    }

    .header__nav{
        width: 30%;
        display: inline-block;
        float: right;
    }
    .nav--itm{
        line-height: 40px;
        margin: 0px 10px;
        font-size: 20px;
    }
}